*.mp3 filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.docm filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
/Programas[[:space:]]de[[:space:]]Radio/Copia[[:space:]]de[[:space:]]PGM[[:space:]]02[[:space:]]Economia[[:space:]]y[[:space:]]Turismo.mp3 filter=lfs diff=lfs merge=lfs -text
/Programas[[:space:]]de[[:space:]]Radio/Copia[[:space:]]de[[:space:]]PGM[[:space:]]03[[:space:]]La[[:space:]][[:space:]]macroeconomia.mp3 filter=lfs diff=lfs merge=lfs -text
/Programas[[:space:]]de[[:space:]]Radio/Copia[[:space:]]de[[:space:]]PGM[[:space:]]04[[:space:]]Economia[[:space:]]y[[:space:]]Deporte.mp3 filter=lfs diff=lfs merge=lfs -text
/Programas[[:space:]]de[[:space:]]Radio/Copia[[:space:]]de[[:space:]]PGM[[:space:]]05[[:space:]]La[[:space:]]crisis[[:space:]]de[[:space:]]los[[:space:]]90[[:space:]]y[[:space:]]los[[:space:]]2000.mp3 filter=lfs diff=lfs merge=lfs -text
/Programas[[:space:]]de[[:space:]]Radio/Copia[[:space:]]de[[:space:]]PGM[[:space:]]06[[:space:]]Economia[[:space:]]y[[:space:]]Energia.mp3 filter=lfs diff=lfs merge=lfs -text
/Programas[[:space:]]de[[:space:]]Radio/Copia[[:space:]]de[[:space:]]PGM[[:space:]]07[[:space:]]Economia[[:space:]]y[[:space:]]Empleo.mp3 filter=lfs diff=lfs merge=lfs -text
/Programas[[:space:]]de[[:space:]]Radio/Copia[[:space:]]de[[:space:]]PGM[[:space:]]08[[:space:]]Economia[[:space:]]y[[:space:]]mercado[[:space:]]de[[:space:]]capitales.mp3 filter=lfs diff=lfs merge=lfs -text
/Programas[[:space:]]de[[:space:]]Radio/Copia[[:space:]]de[[:space:]]PGM[[:space:]]09[[:space:]]Economia[[:space:]]agropercuaria.mp3 filter=lfs diff=lfs merge=lfs -text
/Programas[[:space:]]de[[:space:]]Radio/Copia[[:space:]]de[[:space:]]PGM[[:space:]]10[[:space:]]Cierre.mp3 filter=lfs diff=lfs merge=lfs -text
